---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #A5B1BD;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item a {
    text-decoration: none;
}

pre {
    tab-size: 4;
    -moz-tab-size: 4;
}

.tag {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.8em;
    background: #1f242c;
    border-radius: 4px;
    text-decoration: none;
    font-style: italic;
    color: #fff;
}