---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #A5B1BD;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item a {
    text-decoration: none;
}

pre {
    tab-size: 4;
    -moz-tab-size: 4;
}